<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<body>
    <div class="container">
        <% for (let i=0; i<transactions.length;i++){%>
            <ul>    
                <li>
                    <a href="/transactions/<%= transactions[i]._id %>"><%= transactions[i].description%>&nbsp;</a></li>
                <li>
                    <form action="/transactions/<%= transactions[i]._id%>?_method=DELETE" method="POST">
                        <input type="submit" class="fa-solid fa-trash-can" value="&#xf014;" >
                    </form></li>
                <li>
                    <a href="/transactions/<%= transactions[i]._id %>/edit" class="fa-solid fa-edit"></a></li>
            </ul>
        <%}%>
        
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>